

html, body, #content {
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header {
    background-color: green;
    color: white;
    text-align: center;
    flex-shrink: 0;

}

.imgconstraint {
    height: 15rem;
    width: 15rem;
}

.btndivformat {
    background-color: lightgrey;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.tabbutton {
    background-color: gray;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-user-select: text;
    user-select: none;
}


.main {
    text-align: center;
    flex-grow: 1;
}

.footer {
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;

}